@use "sass:map";
@use "./variable/var-color" as *;
@use "./variable/var-font" as *;
@use "./function/keyframe" as *;
@use "./function/reset";
.Footer {
    position: relative;
}
.footer{
    display: flex;

justify-content: center;
align-items: center;
background-color: $color-main-2;

flex-shrink: 0;

width: 1440px;
height: 140px;
flex-shrink: 0;
}
.backToTop {
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, visibility 0.5s ease;
    position: fixed;
    right: 30px;
    bottom: 15px;
    z-index: 99;
    cursor: pointer;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size:cover;
    border: none;
    background-color: transparent;
    background-image: url(../public/assets/babybit-3.svg);

    span {
    color: $color-white;
    text-shadow:
    -1.5px -1.5px 0 $color-main-2,
     1.5px -1.5px 0 $color-main-2,
    -1.5px  1.5px 0 $color-main-2,
     1.5px  1.5px 0 $color-main-2;
    position: fixed;
    right: 36px;
    bottom: 90px;
    font-family: 'Mono', sans-serif;
font-size: 14px;

    }


    &:hover {
    // transform: scale(1.05);
    animation: floatUp 1s ease-in-out infinite;

    background-image: url(../public/assets/babybit-14.svg);
    span{
    opacity: 0;
    visibility: hidden;
    }
    }

}
    .backToTop.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        &:hover {
            transform: scale(1.025);
        }
        &:active {
            transform: translateY(5px);
    animation: none;

    
        }
    }
  






.navList {
    display: flex;
    gap: 25px;
    li a {
        color: $color-white;
        text-decoration: none;
        font-weight: bold;
    
        &:hover {
        text-decoration: none;
  
        }
      }


li {


    // margin-top: 2rem;
    display: flex;
    gap: 80px;
    color: var(--wh, #FAF9F7);
    text-align: center;
    
    /* EN-24 */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
font-weight: 400;
text-shadow:
  -1.5px -1.5px 0 $color-main-2,
   1.5px -1.5px 0 $color-main-2,
  -1.5px  1.5px 0 $color-main-2,
   1.5px  1.5px 0 $color-main-2;
  
      &:hover {
          transform: scale(1.05);
      filter: brightness(1.2);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25); // 👈 加這行產生陰影
}
   
}

  }