// src/pages/Home.scss
@use "sass:map";
// 正確載入 SCSS 變數
@use "./variable/var-color" as *;
@use "./variable/var-font" as *;
@use "./function/keyframe" as *;
// 載入 reset 函數、mixin 等
@use "./function/reset";


.home {
  background-color: $color-main;
  color: white;
  padding-bottom: 4rem;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;


  section {
    // padding: 4rem 1.5rem;
    margin: auto;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;

    color: $color-white;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--highlight, #8FE388);
    font-family: "Departure Mono";
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 2rem;

    // 多重 text-shadow 模擬描邊
    text-shadow:
      -1px -1px 0 $color-light,
      1px -1px 0 $color-light,
      -1px 1px 0 $color-light,
      1px 1px 0 $color-light;
  }

  .ctaMain {

    display: flex;
    padding: 0px 5px 1px 9px;
    justify-content: flex-end;
    align-items: center;
    gap: 11px;

    border-radius: 10px;
    border: 2px solid $color-dark;
    background: $color-dark;
    box-shadow: 3px 3px 4px 0px #000;

    color: $color-white;
    font-family: "Departure Mono";
    font-size: 28px;
    font-weight: 400;

    &:hover {
      transform: scale(1.05);
      filter: brightness(1.2);
      // color: $color-dark;
      text-shadow:
        -1.5px -1.5px 0 $color-main-2,
        1.5px -1.5px 0 $color-main-2,
        -1.5px 1.5px 0 $color-main-2,
        1.5px 1.5px 0 $color-main-2;

    }

    &:active {
      transform: scale(0.95);
    }

    img {
      pointer-events: none; // 確保 click 事件不被 img 吃掉
      width: 24px;
      height: 24px;
    }


  }

  .aniSection {
    width: 1440px;
    height: 970px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


    .starAll {
      width: 100%;
      height: 100%;

      background-size: cover;
      background-image: url(/assets/star-all.svg);

    }

    .rainAll {

      width: 800px;
      height: 100%;

      background-size: cover;
      background-image: url(/assets/rain-all.svg);

    }

    .rain {
      width: 73px;
      height: 68px;

      background-size: cover;
      background-image: url(/assets/rain.svg);

    }
    .bubble {
      width: 100%;
      height: 80%;

      background-size: cover;
      background-image: url(/assets/bubbleAll.svg);


    }
  }

  .hero {
    margin: 15rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .heroLogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: auto;
      flex-shrink: 0;

      font-size: 1.5rem;
      margin-bottom: 1rem;

      color: #000000;
      text-align: center;
      // -webkit-text-stroke-width: 2px;
      // -webkit-text-stroke-color: $color-white;
      font-family: "Departure Mono";
      font-size: 100px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-align: center;
      margin-top: 2rem;

      // 多重 text-shadow 模擬描邊
      text-shadow:
        -5px -5px 0 $color-white,
        5px -5px 0 $color-white,
        -5px 5px 0 $color-white,
        5px 5px 0 $color-white;

    }

    .logoDreamaBit {
      font-size: 1.5rem;
      margin-bottom: 1rem;

      color: #000000;
      text-align: center;
      // -webkit-text-stroke-width: 2px;
      // -webkit-text-stroke-color: $color-white;
      font-family: "Departure Mono";
      font-size: 100px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-align: center;
      margin-top: 2rem;

      // 多重 text-shadow 模擬描邊
      text-shadow:
        -5px -5px 0 $color-light,
        5px -5px 0 $color-light,
        -5px 5px 0 $color-light,
        5px 5px 0 $color-light;

    }

    .heroAni {
      width: 150px;
      height: 150px;

      margin: 0 auto;
      display: block;

    }


  }



  .quest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;



    .questBox {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 105px;

      .questBunny {
        width: 350px;
        height: 350px;
      }

      .questCard {
        display: flex;
        width: 968px;
        padding: 44px;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;


        border-radius: 17px;
        opacity: 0.88;
        background-color: $color-white;
        box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.25);
        color: $color-dark;
        // background-color: #f0f0f0;
        // color: #333;

        h4 {
          color: var(--border, #2E2E2E);
          font-family: "Departure Mono";
          font-size: 36px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 20px;
        }

        p {
          color: var(--border, #2E2E2E);
          font-family: "Departure Mono";
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

        }


      }
    }
  }

  .journal {
    display: flex;
    flex-direction: column;
    align-items: center;


    p {
      overflow: hidden;
      color: var(--wh, #FAF9F7);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: "Departure Mono";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .journalCards {
      margin: 45px auto;
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;

      .journalCard {
        display: flex;
        width: 431px;
        padding: 90px 30px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        flex-shrink: 0;

        border-radius: 17px;
        border: 5px solid $color-white;
        background: $color-grey-2;
        box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.25);

        .journalIcon {
          width: 150px;
          height: 133px;
          display: flex;
          padding: 1.599px 0px 0px 2px;
          justify-content: flex-end;
          align-items: center;

        }

        span {
          color: #000;
          text-align: center;
          font-family: "Departure Mono";
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        p {
          color: #000;
          font-family: "Departure Mono";
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &:hover {
          background-color: $color-light;



        }

      }
    }


  }
  .about {
    text-align: center;
    margin-top: 4rem;
    color: white;

  
  }
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    gap: 1rem;
  
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 30px;
    border-radius: 17px;
border: 1px solid var(--highlight, #8FE388);
background: var(--wh, #FAF9F7);
box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.25);


    width: 626px;
height: 521px;
flex-shrink: 0;
h3 {
  color: var(--border, #2E2E2E);
font-family: "Departure Mono";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
p {
  margin: auto 20px;
  text-align: start;
  color: var(--border, #2E2E2E);
font-family: "Departure Mono";
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
  }
  
  .nav {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 8px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background: white;
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .active {
    background: #80ff80;
    opacity: 1;
  }
  
  }
  

  @media (min-width: 768px) {
    .quest-box {
      flex-direction: row;
      gap: 2rem;
    }

    .journalCards {
      .card {
        width: 160px;
      }
    }
  }
}


