@use "sass:map";
@use "./variable/var-color" as *;
@use "./variable/var-font" as *;
@use "./function/keyframe" as *;
@use "./function/reset";
.header {
    padding: 0 2rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-main;

  }
  
  .logo  {

      img {
    width:70px;
    height: auto;
    padding: 5px;

  }
    
display: flex;
align-items: center ;
        color: #000000;
// -webkit-text-stroke-width: 2px;
// -webkit-text-stroke-color: $color-white;
font-size: 36px;
font-style: normal;
font-weight: 800;
  text-align: center;

  // 多重 text-shadow 模擬描邊
  text-shadow:
    -1.5px -1.5px 0 $color-light,
     1.5px -1.5px 0 $color-light,
    -1.5px  1.5px 0 $color-light,
     1.5px  1.5px 0 $color-light;
  }
  

  
  .navRight {
    display: flex;
  }
  
  .navList {
    display: flex;
    gap: 1.5rem;
  
    li a {
      color: $color-white;
      text-decoration: none;
      font-weight: bold;
  
      &:hover {
      text-decoration: none;

      }
    }
  
    .login {
      width: 45px;
      height: 45px;
    //   background-color: white;
    //   color: #356c5f;
    //   padding: 0.3rem 1rem;
    //   border-radius: 20px;
    }
  }
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  
  .mobileMenu {
    position: absolute;
    top:5%;
    right:1.5%;
    width: 318px;
    height: 703px;
    background-color: $color-light;
    color:$color-dark;
    // font-family: 'VT323', monospace;
    z-index: 1000;
    // padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.95;
padding: 16px;
  
    border-radius: 17px;
box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.25);
    ul {


      // margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 80px;

    color:$color-dark;
text-align: center;

font-size: 24px;
font-weight: 400;
  text-shadow:
    -1.5px -1.5px 0 $color-main-2,
     1.5px -1.5px 0 $color-main-2,
    -1.5px  1.5px 0 $color-main-2,
     1.5px  1.5px 0 $color-main-2;
     li{
      text-decoration: none; 
        &:hover {
            transform: scale(1.05);
        filter: brightness(1.2);
              box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25); // 👈 加這行產生陰影
  }
     }


    }
  
    .close {
      margin-bottom: 16px;
      align-self: flex-end;
font-weight: 800;

      font-size: 3rem;
      background: none;
      border: none;
      color: $color-white;
      cursor: pointer;
  // -webkit-text-stroke: 0.2px $color-dark; // 外框色
  // text-stroke: 0.2px $color-dark; // for other browsers 

       transition: transform 0.3s ease;

  &:hover {
                transform: scale(1.05);
        filter: brightness(1.2);
    animation: tiltRight 0.3s forwards;
  }
      
    }
  }
    