// color var
$color-main: #2F6251 !default;
$color-main-2: #2F5A41;

$color-light: #8FE388;

$color-white: #FAF9F7;

$color-grey: #D3D3D3;
$color-grey-2: #C4C4C4;


// alpha 
// $alpha: transparent;

// $alpha-w20: rgba(255,255,255, .2);
// $alpha-w30: rgba(255,255,255, .3);
// $alpha-w40: rgba(255,255,255, .4);
// $alpha-w50: rgba(255,255,255, .5);

// $alpha-b15: rgba(0,0,0,.15);
// $alpha-b30: rgba(0,0,0,.3);
// $alpha-b60: rgba(0,0,0,.60);

// $alpha-p60:rgba(194, 158, 159, 0.6);
